/* Inspiration: https://www.kirupa.com/html5/accessing_your_webcam_in_html5.htm */
body {
    overflow: hidden; /* Hide scrollbars */
}

h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
    padding: 1em;
    font-family: Luminari, fantasy;
}
.fullscreen h1 {
    display: none;
}

main {
    height: 100vh;
    width:  100vw;
    display: flex;
}
.Ffullscreen main {
    display: block;
}


.frame {
    margin: auto;
    width:  850px;
    height: 715px;
    background-image: url("frame-gold.gif");  /* gif = 215kb | png = 585kb*/
}
.frame a { display: block }

video {
    /* Mirror Video - https://stackoverflow.com/questions/47742208/horizontally-flipping-getusermedias-webcam-image-stream */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.frame video {
    display: block;
    margin: 117px 138px;
    width:  604px;
    height: 453px;
}
.fullscreen video {
    position: absolute;
    top: 0;
    left: 0;
    width:  100vw;
    height: 100vh;
}
